<center>
<div style="border: 3px solid black; width: 50%; margin: 3%;">
<h1> Blog posts </h1>
<div style="margin-left: -90%;">
<% @posts.each do |post| %>  
    <h6><b> <%= post.title %></b></h6>
    <p> <%= post.body %></p>
<% end %>
</div>
</div>
</center>